<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Publicaciones</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/aviso-formulario">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="loadAvisos($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let aviso of avisos">
      <app-aviso-items [aviso]="aviso"></app-aviso-items>
      
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteAviso(aviso)">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item *ngIf="avisos.length === 0">
      <ion-label class="ion-text-center">
        No hay avisos publicados
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>